@model Seeco.Models.TblDrawings

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h1>Create</h1>

<h4>Drawings</h4>
<hr />
<div class="row" style="text-align:center;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DrawingName" class="control-label"></label>
                <input asp-for="DrawingName" class="form-control" />
                <span asp-validation-for="DrawingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawingType" class="control-label"></label>
                <input asp-for="DrawingType" class="form-control" />
                <span asp-validation-for="DrawingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateIssued" class="control-label"></label>
                <input asp-for="DateIssued" class="form-control" />
                <span asp-validation-for="DateIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived" class="control-label"></label>
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawBy" class="control-label"></label>
                <input asp-for="DrawBy" class="form-control" />
                <span asp-validation-for="DrawBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receiver" class="control-label"></label>
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                Upload: <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-pid="@ViewBag.pid">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
