@model Seeco.Models.TblDrawingDet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h1>Edit</h1>

<h4>@ViewBag.dr</h4>
<hr />
<div class="row" style="text-align:center;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DrawingId" class="control-label"></label>
                <select asp-for="DrawingId" class="form-control" asp-items="ViewBag.DrawingId"></select>
                <span asp-validation-for="DrawingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecisionMaker" class="control-label"></label>
                <input asp-for="DecisionMaker" class="form-control" />
                <span asp-validation-for="DecisionMaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decisions" class="control-label"></label>
                <input asp-for="Decisions" class="form-control" />
                <span asp-validation-for="Decisions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-did="@ViewBag.did">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
